body {
  font-family: arial, sans-serif;
}
.conteiner {
  margin-left: 20px;
}
.weather-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: rgb(245, 252, 253);
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.form {
  width: 100%;
}
.tabs {
  display: block;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 0 auto;
  width: 19%;
  cursor: pointer;
}

.tabs:hover {
  background-color: rgb(222, 230, 231);
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
h1:first-letter {
  text-transform: capitalize;
}
a {
  color: #9d9d9d;
  border-bottom: 1px dotted #9d9d9d;
  text-decoration: none;
  cursor: pointer;
}
search-city {
  padding: 4px 0 0;
  height: 14px;
}
.temperature {
  font-size: 32px;
  font-weight: bold;
}
.code-by {
  text-align: center;
  font-size: 12px;
}
