body {
  background-image: url("https://images.pexels.com/photos/86695/sky-clouds-outdoors-scenic-86695.jpeg?auto=compress&cs=tinysrgb&w=1400");

  font-family: arial, sans-serif;
}
.conteiner {
  margin-left: 20px;
}
.weather-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: rgb(245, 252, 253);
}

h1 {
  font-size: 36px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  padding: 10px 0;
}
.form {
  width: 100%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
h1:first-letter {
  text-transform: capitalize;
}
.temperature {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.code-by {
  text-align: center;
  color: black;
  font-size: 12px;
}
.units {
  position: relative;
  font-size: 24px;
  top: -30px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.overviw {
  padding: 20px;
}
.weather-forecast .col-2 {
  display: block;
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 0 auto;
  width: 19%;
  cursor: pointer;
  text-align: center;
}
.weather-forecast .row :hover {
  background-color: rgb(222, 230, 231);
}
a {
  text-decoration: none;
  color: black;
}
